* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
a,
button {
  font-family: "Roboto", sans-serif;
}

p,
li {
  font-family: "Roboto Slab", serif;
  text-align: justify;
}

/* INICIO estilos panel principal */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-button {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(100vw - 310px);
}

.lang {
  margin: 17px 12px;
  background: #415762;
  box-shadow: 0px 2px 3px 0px #00000056;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

.lang:hover {
  box-shadow: none;
}

.container-info {
  width: calc(100vw - 150px);
  height: 100%;
}

.img-fondo {
  width: calc(90vw);
}

.img-fondo img {
    width: 100%;
    height: 98vh;
    margin-top: 16px;
    margin-left: 31px;
}

.text-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  width: calc(100vw - 150px);
  position: absolute;
  top: calc(75vh - 200px);
  background-color: rgba(255, 255, 255, 0.45);
}

.text-container div {
  padding: 10px 20px;
  width: calc(100vw - 150px);
}

.title {
  color: #415762;
  font-weight: bold;
  text-align: left;
}

.container-logo {
  width: calc(100vw - 150px);
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-logo div{
  border-right: 2px solid #89A6B3;
  padding: 0px 5px;
}

.container-logo div:last-child{
  border-right: none;
}

.container-logo div img{
  width: 100%;
}

/*----------------------------------------
Barra de navegación
--------------------------*/

.nav-bar {
  width: 150px;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #415762;
  font-size: 0.85em;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
}

.nav-bar ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  list-style: none;
}

.button-nav-bar {
  border-bottom: 2px solid #89A6B3;
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav-bar:last-child{
  border-bottom: none;
}

.button-nav-bar a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in 800ms;
  margin-top: -40px;
  letter-spacing: 0.1em;
  opacity: 0.65;
}

.button-nav-bar a:hover {
  color: #ffffff;
  opacity: 1;
}

.button-nav-bar a img{
  height: 60px;
  margin-bottom: 10px;
}

.button-nav-bar a p{
  height: 100%;
  margin: auto;
}

a p.sub-text {
  opacity: 0.6;
  font-size: 0.75em;
  margin-top: 10px;
  text-align: center;
  display: none;
}

/*-------------------------------------
Historia dólmenes
-----------------------------*/

.row-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.container-cards-scroll {
  height: 80vh;
  width: calc(100vw - 150px );
  margin: 80px auto 0px;
  padding: 0px 30px;
}

.col-container{
  min-width: 170px;
  min-height: 200px;
  max-width: 340px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 166, 179, 0.6);;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 4px;
}

.col-container-img{
  width: 100%;
  height: 20vh;
  position: relative;
}

.col-container-img>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.col-container-360{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(137, 166, 179, 0.6);;
  border-radius: 14px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-container-360>p{
  margin-bottom: 0px;
  font-weight: bold;
}

.col-container-text{
  width: 85%;
  margin-top: 10px;
}

.col-container-text>h3{
  text-align: center;
}

/*-------------------------------------
Mapas dólmenes
-----------------------------*/

.data-dolmen{
  height: 100%;
}

.maps-container {
  margin-top: 80px;
  height: 80vh;
  width: calc(100vw - 300px);
  padding: 0px 30px;
}

.maps-info-container, .galery-info-container{
  width: 300px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 3em;
}

#map{
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.bi {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
}
.mapboxgl-ctrl{
  display: none !important;
}

.mapboxgl-popup-content {
  max-width: 400px;
  font-size: 1.2em;
  max-height: 400px;
  letter-spacing: 0.1em;
  }

  .mapboxgl-popup-content p{
    margin: 10px 0px 0px;
  }

  .mapboxgl-popup-close-button{
    font-size: 1.5em;
    margin: 0px 5px;
  }

/*-------------------------------------
Información de interes 
-----------------------------*/

  #info {
    padding: 0px;
    margin-top: 85px;
  }

  #info > li {
    list-style: none;
  }

  .container-text-maps {
    list-style: none;
    padding: 0px;
  }

  .container-text-maps li {
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .container-text-maps li>img{
    width: 30px;
    margin-right: 2vw;
  }

  .button-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    border-radius: 7px;
    background-color: #89A6B3;
    height: 45px;
    width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0px;
    float: right;
  }

  .button-info div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-info div:first-child{
    background-color: #415762;
    width: 45px;
    height: 45px;
    border-radius: 7px;
  }

  .button-info div:first-child>img{
    width: 45px;
    object-fit: cover;
  }

  .button-info div:last-child{
    height: 100%;
    width: 100%;
  }

  .button-info div:last-child>p{
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
  }

/*-------------------------------------
Galería img 360º
-----------------------------*/

.container-cards {
  height: 100vh;
  width: 100vw;
}

/*-------------------------------------
Dolmen Mandubi
-----------------------------*/

.img-float {
  float: right;
  min-width: 200px;
  max-width: 380px;
  margin: auto 20px;
  object-fit: cover;
}

/*-------------------------------------
IMG 360º
-----------------------------*/

.container-img-360 {
  width: 100%;
  height: 100vh;
}

#activar-vista-360 {
  display: none;
}

/*-------------------------------------
Galeria de imagenes
-----------------------------*/
.galery-container {
  margin-top: 80px;
  height: 100%;
  width: calc(100vw - 300px);
  padding: 0px 30px;
}

.img-ampliada{
  width: 100%;
  height: 60vh;
}

.img-ampliada img,
.img-ampliada model-viewer {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.img-ampliada img.active,
img.img-carousel .active,
.img-ampliada model-viewer.active,
model-viewer.img-carousel .active {
  animation: fadeImg 0.8s;
}

/* carousel */

.carousel{
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
}

.container-carousel-img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  z-index: 5;
}

.carousel.smooth-return {
transition: all 0.6s ease;
z-index: -5;
}

.img-carousel{
width: calc(100% / 5);
max-width: 400px;
min-width: 300px;
height: 100%;
max-height: 220px;
min-height: 150px;
box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
position: absolute;
filter: brightness(0.9);
transition: inherit;
border-radius: 0.7em;
background-color: #ffffff;
}

.img-carousel.highlight {
filter: brightness(1);
}

.img-carousel[data-pos="0"] {
  transform: translateX(0%) scale(1);
z-index: 0;
}

.img-carousel[data-pos="-1"] {
transform: translateX(-60%) scale(.8);
z-index: -1;
}

.img-carousel[data-pos="1"] {
transform: translateX(60%) scale(.8);
z-index: -1;
}

.img-carousel[data-pos="-2"] {
transform: translateX(-115%) scale(.5);
z-index: -2;
}

.img-carousel[data-pos="2"] {
transform: translateX(115%) scale(.5);
z-index: -2;
}

/* Fin de carousel */ 

/*-------------------------------------
Galeria de imagenes 3D boton
-----------------------------*/

#hidden{
  display: none;
  margin-left: auto;
}

@media only screen and (max-width: 820px) {
  /* panel principal */

  .flex-container{
    justify-content: center;
  }

  .container-info {
    width: 100vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-logo {
    width: 100vw;
    height: 100%;
  }

  .container-button{
    width: 100%;
  }

  .img-fondo {
    width: 95vw;
    height: 65vh;
    margin-top: 80px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .img-fondo img{
    height: 100%;
    border-radius: 14px;
  }

  .text-container{
    top: calc((65vh + 80px) - 295px);
    position: absolute;
    height: 295px;
    width: 95vw;
    border-radius: 14px;
  }

  .text-container div {
    height: 100%;
    width: 95vw;
  }

  /*----------------------------------------
Barra de navegación
--------------------------*/

  .nav-bar {
    position: fixed;
    top: calc(100vh - 100px);
    right: inherit;
    width: 95vw;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.7em;
  }

  .nav-bar ol {
    flex-direction: row;
  }

  .button-nav-bar {
    border-bottom: none;
    border-right: solid 2px #89A6B3;
    height: 60px;
    min-width: 100px;
    margin: auto;
    height: 80%;
  }

  .button-nav-bar:last-child {
    border-right: none;
  }

  .button-nav-bar a {
    margin: auto;
    height: 60px;
    width: 90%;
  }

  .button-nav-bar a img{
    height: 35px;
  }

  #buttom-360 {
    justify-content: center;
    height: 100%;
  }


  /*-------------------------------------
Historia dólmenes
-----------------------------*/

.container-info-dolmenes {
  height: calc(100vh - 120px);
  width: 95vw;
}

.container-cards-scroll {
  width: 95vw;
  height: 90vh;
  padding: 0px;
}

  /*-------------------------------------
Mapas dólmenes
-----------------------------*/
  .data-dolmen{
    height: 100%;
  }

  .maps-container {
    margin-top: 80px;
    width: 95vw;
    height: 40vh;
    padding: 0px;
  }

  .maps-info-container, .galery-info-container{
    width: 95vw;
    height: 100%;
    position: relative;
    padding: 0px;
  }

  .button-info{
    margin-right: 2vw;
  }

  /*-------------------------------------
Dolmen Mandubi
-----------------------------*/

  .img-float {
    margin: auto;
    max-width: 100%;
  }

  /*-------------------------------------
Información de interes 
-----------------------------*/

.galery-info-container>#info {
  margin-top: 20px;
}

  /*-------------------------------------
Galeria de imagenes
-----------------------------*/
.galery-container {
  margin-top: 80px;
  width: 95vw;
  height: 100%;
  padding: 0px;
}

.img-ampliada{
  width: 95vw;
  height: 50vh;
  padding: 0px;
}

.carousel{
  width: 95vw;
  height: 20vh;
  margin-top: 1em;
}

}

/*--------------------------------------------
estilo boton 360º mobile
-----------------------------------------*/
@media screen and (max-width: 400px){
  .maps-info-container>.button-info:first-child{
    float: left;
  }
}
