* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
a,
button {
  font-family: "Roboto", sans-serif;
}

p,
li {
  font-family: "Roboto Slab", serif;
}

/* INICIO estilos panel principal */

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_button {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.lang {
  margin: 20px 5px 20px 25px;
  background: #415762;
  box-shadow: 0px 1px 1px 2px #89a6b3;
  border-radius: 5px;
  width: 100%;
  min-width: 70px;
  max-width: 100px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

.lang:hover {
  box-shadow: none;
}

.container_info {
  width: calc(100% - 280px);
  height: calc(100vh - 140px);
}

.img-fondo {
  position: absolute;
  z-index: -1;
  width: calc(100% - 280px);
}

.img-fondo img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.text_container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 186px);
  justify-content: flex-end;
  align-items: center;
}

.text_container div {
  padding: 5px 20px;
  border-radius: 5px;
  height: 40vh;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0px -14px 36px -11px #415762;
}

.title {
  color: #415762;
  font-size: 1.7em;
  letter-spacing: 0.15em;
  font-weight: bold;
}

.conteiner_logo {
  width: calc(100% - 280px);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.conteiner_logo img {
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 100px;
  text-align: center;
  padding: 0px 5px;
}

/*----------------------------------------
Barra de navegación
--------------------------*/

.nav_bar {
  width: 280px;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #415762;
  text-align: left;
  font-weight: bold;
  font-size: 0.85em;
  z-index: 1;
  box-shadow: 0px 4px 10px -2px #415762;
}

.nav_bar ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  list-style: none;
}

#nav_bar_small {
  height: auto;
}

.button_nav_bar {
  border: solid;
  height: 0.2em;
  width: 90%;
  margin: 3.2em 0;
  display: flex;
  border: none;
  position: relative;
  background: linear-gradient(to right, #89a6b3 75%, #ffffff);
}

.button_nav_bar a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: all ease-out 300ms;
  margin-top: -40px;
  letter-spacing: 0.2em;
  opacity: 0.65;
}

.button_nav_bar a:hover {
  color: #ffffff;
  opacity: 1;
}

.sub_text {
  font-family: "Roboto Slab", serif;
  position: absolute;
  margin-top: 30px;
  opacity: 0.6;
  font-size: 0.75em;
}

#buttom_360 {
  height: 15vh;
  align-items: center;
  justify-content: flex-end;
}

/*-------------------------------------
Información de interes en NAVBAR
-----------------------------*/

#info {
  background: #89a6b3;
  justify-content: flex-start;
  height: 85vh;
  width: 280px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#info > li {
  padding: 1em;
  list-style: none;
  font-size: 1em;
}

.container_text_maps {
  color: #ffffff;
  list-style: none;
  padding: 1em 1em 1em 0;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 0.2em;
}

.container_text_maps li {
  margin-bottom: 1em;
}

.color {
  color: #415762;
  font-size: 1.2em;
  font-weight: bold;
}

/*-------------------------------------
Historia dólmenes
-----------------------------*/

.container_info_dolmenes {
  height: 100vh;
}

.contariner_cards_scroll {
  height: 80vh;
  margin-top: 100px;
}

/*-------------------------------------
Mapas dólmenes
-----------------------------*/

.maps_container {
  height: 70vh;
  margin: 100px 20px 15px;
}

.maps_container iframe{
  width: 100%;
  height: 100%;
}

/*-------------------------------------
Galería img 360º
-----------------------------*/

.container_cards {
  height: 100vh;
  width: 100%;
}

.card {
  margin: auto;
  min-width: 300px !important;
  max-width: 380px;
}

.card:hover {
  box-shadow: 0px 4px 14px 1px #89a6b3;
}

.card-img-top {
  height: 70%;
}

.card-body {
  text-align: center;
  background: #415762;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/*-------------------------------------
Dolmen Mandubi
-----------------------------*/

.img_float {
  float: right;
  min-width: 200px;
  max-width: 380px;
  margin: auto 20px;
  object-fit: cover;
}

/*-------------------------------------
IMG 360º
-----------------------------*/

.container_img_360 {
  width: 100%;
  height: 100vh;
}

#activar-vista-360 {
  display: none;
}

/*-------------------------------------
Galeria de imagenes
-----------------------------*/
.container_info_galery {
  height: 100vh;
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.img-ampliada {
  width: 100%;
  height: 50vh;
  margin: 1em auto;
}

.img-ampliada img,
.img-ampliada model-viewer {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-ampliada img.active,
.img-carousel img.active,
.img-ampliada model-viewer.active,
.img-carousel model-viewer.active {
  animation: fadeImg 0.8s;
}

.carousel {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-carousel-img {
  --img-carousel-width: 80%;
  --img-carousel-width: 380px;
  --img-carousel-height: 200px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--img-carousel-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
  margin: 1em;
}

.container-carousel-img.smooth-return {
  transition: all 0.2s ease;
}

.container-carousel-img .img-carousel {
  width: var(--img-carousel-width);
  max-width: var(--img-carousel-max-width);
  text-align: center;
  min-width: 250px;
  height: var(--img-carousel-height);
  position: absolute;
  margin: 0 auto;
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.7em;
  filter: brightness(0.9);
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.img-carousel.highlight {
  filter: brightness(1);
}

.img-carousel img,
.img-carousel model-viewer {
  height: 107%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.7em;
}

.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

/*-------------------------------------
Galeria de imagenes 3D
-----------------------------*/

#buttonVr {
  z-index: 1;
  position: absolute;
  width: calc(100% - 280px);
  padding-right: 20px;
}

.container-button-vr {
  display: flex;
  flex-wrap: nowrap;
  width: 350px;
}

#buttonVr:last-child {
  justify-content: end;
}

@media only screen and (max-width: 600px) {
  /* panel principal */

  .container_info {
    width: 100%;
    height: 100vh; /* Revisar si no modificar en index */
    display: flex;
    flex-direction: column;
  }

  .height{
    height: 90vh;
  }

  .conteiner_logo {
    width: 100%;
    margin-bottom: 160px;
  }

  .img-fondo {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    top: 0;
    position: absolute;
    z-index: -1;
    padding: 0px;
  }

  .img-fondo img {
    height: 100%;
  }

  .text_container {
    height: 100%;
    margin-top: 545px;
    background: linear-gradient(to top, #ffffff 80%, #ffffff00);
  }

  .text_container div {
    width: 100%;
  }

  /*----------------------------------------
Barra de navegación
--------------------------*/

  .nav_bar {
    position: fixed;
    top: auto;
    bottom: 0px;
    width: 100%;
    height: 100px;
    box-shadow: 0px -4px 10px -2px #415762;
    font-size: 0.7em;
  }

  .nav_bar ol {
    flex-direction: row;
  }

  #nav_bar_small {
    height: 100px;
  }

  .button_nav_bar {
    border-bottom: none;
    border-right: solid 2px white;
    height: 100%;
    background: #415762;
    padding: 1em;
    min-width: 100px;
  }

  .button_nav_bar:last-child {
    border-right: none;
  }

  .button_nav_bar a {
    text-align: center;
    margin: auto;
  }

  #buttom_360 {
    justify-content: center;
    height: 100%;
  }

  /*-------------------------------------
Información de interes en NAVBAR
-----------------------------*/

  #info {
    position: relative;
    width: 100vh;
    bottom: auto;
    z-index: -1;
  }

  /*-------------------------------------
Historia dólmenes
-----------------------------*/

  .container_info_dolmenes {
    margin-bottom: 70px;
  }

  .sub_text {
    display: none;
  }

  /*-------------------------------------
Mapas dólmenes
-----------------------------*/

  .maps_container {
    margin: 110px 0px 40px;
    width: 100%;
  }

  /*-------------------------------------
Dolmen Mandubi
-----------------------------*/

  .img_float {
    margin: auto;
    max-width: 100%;
  }

  /*-------------------------------------
Galeria de imagenes
-----------------------------*/
  .container_info_galery {
    height: 95vh;
  }

  .img-ampliada {
    width: 100%;
  }

  .container-carousel-img {
    --img-carousel-max-width: 280px;
    --img-carousel-max-height: 200px;
  }

  /*-------------------------------------
Galeria de imagenes 3D
-----------------------------*/

  #buttonVr {
    width: 100%;
    padding: 0px;
  }

  .container-button-vr{
    width: 300px;
  }

  #buttonVr .container-button-vr .lang {
    margin: 20px auto 0px;
  }
}
